<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="http://www.springframework.org/schema/beans	
	http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
	http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context-3.0.xsd
	http://www.springframework.org/schema/aop
    http://www.springframework.org/schema/aop/spring-aop-3.0.xsd">

	<!-- 舊版配置 -->
	<!-- <beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
		xmlns:aop="http://www.springframework.org/schema/aop" xsi:schemaLocation="http://www.springframework.org/schema/beans 
		http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-3.0.xsd 
		http://www.springframework.org/schema/beans/spring-beans-2.5.xsd"> -->
	<!--以上為版本 編碼 一些命名文件的位置 -->

	<bean id="articleCategoryDAO" class="com.practice.webapp.dao.impl.ArticleCategoryDAOImpl">
		<property name="dataSource" ref="dataSource" />
	</bean>
	<!-- 將此實作 -->

	<bean id="articleDAO" class="com.practice.webapp.dao.impl.ArticleDAOImpl">
		<property name="dataSource" ref="dataSource" />
	</bean>

	<bean id="productDAO" class="com.practice.webapp.dao.impl.ProductDAOImpl">
		<property name="dataSource" ref="dataSource" />
	</bean>


	<!-- ===============================以下為自定義================================== -->
	<!-- ============================================================================ -->

	<bean id="studentDAO" class="com.practice.webapp.dao.impl.StudentDAOImpl">
		<property name="dataSource" ref="dataSource" />
	</bean>

	<bean id="TestPlaceDAO" class="com.practice.webapp.dao.impl.sa_TestPlaceDAOImpl">
		<property name="dataSource" ref="dataSource" />
	</bean>
	
	<!-- ===============================考科報名部分================================== -->
	<!-- ============================================================================ -->
	
	<bean id="testRegisterDAO" class="com.practice.webapp.dao.impl.sa_TestRegisterDAOImpl">
		<property name="dataSource" ref="dataSource" />
	</bean>
	
	<!-- <bean id="bsRegisterTemp" class="com.practice.webapp.entity.Student"
		scope="session">
		<aop:scoped-proxy />
	</bean> -->

<!-- 登入資料庫檢查部份 -->

	<bean id="studentinfo" class="com.practice.webapp.entity.Student"
		scope="session">
		<aop:scoped-proxy />
	</bean>
	
	<bean id="accountCheck" class="com.practice.webapp.dao.impl.sa_AccountDAOImpl">
		<property name="dataSource" ref="dataSource" />
	</bean>


	<bean class="org.springframework.beans.factory.config.CustomScopeConfigurer">
		<property name="scopes">
			<map>
				<entry key="session">
					<bean class="org.springframework.web.context.request.SessionScope" />
				</entry>
			</map>
		</property>
	</bean>
</beans>